.title-bar {
    width: 100vw;
    height: 10vh;
    background-color: #26C6DA;
    position: relative;
}

.title-bar--title {
    color: white;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

@media (max-width: 320px) {
    .title-bar--title {
        font-size: 2rem;
    }
}
